<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>electri_fuel.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3AB4352A52F7C516E7C2E90A1A98D459674788E3</string>
				<key>dateExpires</key>
				<string>20/06/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AB4352A52F7C516E7C2E90A1A98D459674788E3</string>
						<key>dateExpires</key>
						<string>20/06/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HD9L3U2F3R</string>
						<key>name</key>
						<string>Tran Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AB4352A52F7C516E7C2E90A1A98D459674788E3</string>
						<key>dateExpires</key>
						<string>20/06/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HD9L3U2F3R</string>
						<key>name</key>
						<string>Tran Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3AB4352A52F7C516E7C2E90A1A98D459674788E3</string>
						<key>dateExpires</key>
						<string>20/06/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>battery_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HD9L3U2F3R</string>
						<key>name</key>
						<string>Tran Thanh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HD9L3U2F3R.com.novahub.LoveSpace</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HD9L3U2F3R</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>HD9L3U2F3R.com.novahub.LoveSpace</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>dae03b40-6e80-4b0a-a25a-7c61eee57529</string>
				<key>dateExpires</key>
				<string>29/06/2023</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HD9L3U2F3R</string>
				<key>name</key>
				<string>Tran Thanh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
